<!DOCTYPE html>
<html>
<head>
  <title>Oblique</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if current_user %>
    Signed in as <%= current_user.name %>!
    <%= link_to "Sign out", signout_path %>
  <% else %>
    <%= link_to "Sign in with Twitter", "/auth/twitter" %>
  <% end %>

  <%= yield %>

</body>
</html>
